<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/censo.css">
    <link rel="stylesheet" href="/public/css/contato.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/solucoes.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/stylehome.css">
    <title>ADApt</title>
</head>
<body>
    {{> navbar }}

    <main>
        {{{ body }}}
    </main>

    {{> footer }}
</body>
</html>