nav {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
}

nav img {
    width: 150px;
    height: 150px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a {
    display: flex;
    gap: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #000;
    font-family: "Nunito", sans-serif;
}

nav a.login:hover {
    color: #fff;
}

.login {
    padding: 2px 30px;
    border-radius: 30px;
    background-color: #4EFF95;
}

